@model Cliente

@{
    ViewData["Title"] = "Detalhes Cliente";
}

<h1>Detalhes Cliente</h1>

<div class="card">
    <div class="card-body">
        <form>
            <div class="form-group d-flex justify-content-end">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
            </div>

            <div class="form-group mb-3">
                <label asp-for="NomeCompleto" class="control-label"></label>
                <input type="text" class="form-control" value="@Model.NomeCompleto" disabled />
            </div>

            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" class="form-control" value="@Model.Email" disabled />
            </div>

            <div class="form-group mb-3">
                <label asp-for="Telefone" class="control-label"></label>
                <input type="text" class="form-control" value="@Model.Telefone" disabled />
            </div>

            <div class="form-group mb-3">
                <label asp-for="CartaConducao" class="control-label"></label>
                <input type="text" class="form-control" value="@(Model.CartaConducao ? "Sim" : "Não")" disabled />
            </div>

            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>
